{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="hero-container">
    <img src="{% static 'Assets/Images/stock3.jpg' %}" alt="">
    <div class="hero-text">
        <h1>EAT A FUCKING LEGUME</h1>
        <p>they're really good</p>

        <div id="blogPreviewCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for Post in Posts %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="card text-center">
                        <div class="card-body">
                            <h2 class="card-title">{{ Post.title }}</h2>
                            {% comment %} <small>Posted at {{ Post.date_added }}</small> {% endcomment %}
                            <p class="card-text">{{ Post.intro|safe }}</p>
                            <div class ="seeMoreBtn">
                            <a href="{% url 'post_detail' Post.slug %}" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        
            <!-- Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#blogPreviewCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#blogPreviewCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

</div>
{% endblock %}