#intro-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; /* ensure it is above other content */
    opacity: 1;
    transition: opacity 1s ease;
    overflow: hidden;
    background-size: 300% 300%; 
    background-position: 0% 50%; 
    animation: moveGradient 5s ease infinite;
  }

  #intro-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

    #intro-logo path {
    
    
}

    #intro-logo path:nth-child(1) {
    
}

    #intro-logo path:nth-child(2) {
    
}

    #intro-logo path:nth-child(3) {
    
}

    #intro-logo path:nth-child(4) {
    
}

    #intro-logo path:nth-child(5) {
    
}

    #intro-logo path:nth-child(6) {
    
}

    #intro-logo path:nth-child(7) {
    
}

    #intro-logo path:nth-child(8) {
    
}

    #intro-logo path:nth-child(9) {
    
}

    #intro-logo path:nth-child(10) {
    
}

    #intro-logo path:nth-child(11) {
    
}

    #intro-logo path:nth-child(12) {
    
}
