@import "overlay.css";

.body {
    background-color: #4D7F35 !important;
}

.navbar {
    background-color: #4D7F35;
}

.nav-link {
    color: white;
}

.navbar .nav-link.active {
    color: white;
}

.navbar .btn {
    color: white;
    border: 1px solid white;
    margin-right: 1rem; 
}

.navbar .btn:hover {
    background-color: white;
    color: #4D7F35;
}

.navbar-brand img {
    margin-left: 3rem;
    max-height: 5rem;
}

.hero-container {
    position: relative;
}

.hero-container img {
    filter: brightness(30%);
    max-width: 100%;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}