@import "overlay.css";
@import "blog_carousel.css";



body {
    font-family: Poppins, sans-serif;
    background-color: white;
}



#searchBtn {
    background-color: #4D7F35;
    color: rgb(0, 0, 0);
    border-radius: 10px 0px 0px 10px;
}

#searchBar {
    border-radius: 0px 10px 10px 0px;
}

#getStartedBtn {
    background-color: #D97706;
    color: white;
    border: none;
}

.hero-container {
    position: relative;
}

.hero-container img {
    filter: brightness(90%);
    width: 100%
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;   
}

.aboutHead {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.abtImg {
    border-radius: 0% 25% 0% 25%;
    max-width: 500px;
}
